@import "./Scss/Mixins";

.chat {
  @include flexbox(0.65);
}
.chat__header {
  display: flex;
  padding: 20px;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}
.chat__headerInfo {
  flex: 1;
  padding-left: 20px;
  h3 {
    margin-bottom: 3px;
    font-weight: 500;
  }
  p {
    color: grey;
  }
}

.chat__body {
  flex: 1;
  background-image: blue;
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow: scroll;
}
.chat__message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 30px;
}
.chat__timestamp {
  margin-left: 10px;
  font-size: xx-small;
}

.chat__name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
}
.chat__receiver {
  margin-left: auto;
  background-color: lightgreen;
}

.chat__footer {
  .MuiSvgIcon-root {
    padding: 10px;
    color: gray;
  }
  @include flexboxAlignmentCenter();
  justify-content: space-between;
  height: 62px;
  border-top: 1px solid lightgray;
  form {
    button {
      display: none;
    }
    flex: 1;
    display: flex;
    input {
      outline-width: 0;
      flex: 1;
      border-radius: 30px;
      padding: 10px;
      border: none;
    }
  }
}
