@mixin flexbox($number) {
  display: flex;
  flex-direction: column;
  flex: $number;
}

@mixin grid() {
  display: grid;
  place-items: center;
  height: 100vh;
}

@mixin flexboxAlignmentCenter() {
  display: flex;
  align-items: center;
}
